**USING SERIES**

The series function displays a listed data with numerical labelled indexes

In [136]:
import pandas as pd #importing the necessary libraries
from pandas import Series #importing the series function
object1 = Series([1,2,3,4,5]) 
object1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [137]:
#one advantage of the series is its modifiable
object1.values

array([1, 2, 3, 4, 5], dtype=int64)

In [138]:
object1.index

RangeIndex(start=0, stop=5, step=1)

In [139]:
#using numpyto series
import numpy as np
data_array = np.array(['a','b','c'])
s = Series(data_array)
s

0    a
1    b
2    c
dtype: object

In [140]:
#the Series can convert a list or an array into a series with numerical labelled indexes
#to customise the index 
ls = Series(data_array, index = [100, 200, 300])
ls

100    a
200    b
300    c
dtype: object

In [141]:
#We can also use strings as indexes
ls = Series(data_array, index = ['index_1', 'index_2', 'index_3'])
ls

index_1    a
index_2    b
index_3    c
dtype: object

In [142]:
#you can access the vlaues in the series via it's index
real = Series([10, 30, 60, 90], index = ['ola', 'gokada', 'uber', 'taxify'])

Do note that in a pandas Series, the values and the index have their own index labels. For example; in the declaration above, the values in the 'real' variable are (10, 30, 60, 90). These values have an index of (0, 1, 2, 3). The visualization is below:

In [143]:
real.values

array([10, 30, 60, 90], dtype=int64)

In [144]:
#if i select an index of 0 or 1
print(real[0], real[1])

10 30

In [145]:
#the length of the array: 
len(real.values)

4

In [146]:
#Alternatively, i can invoke the value function
print(real.values[0], real.values[1])

10 30

Now for the index of the series ['ola','uber','gokada','taxify'],  they are also indexed. Their indexes are laballed (0,1,2,3), which conventionally has to be the same length as the values indexes. The vizualisation is as follows

In [147]:
real.index.values

array(['ola', 'gokada', 'uber', 'taxify'], dtype=object)

In [148]:
#to print the value of the index labels using their own indexes.
print(real.index.values[0], real.index.values[3]) #to view the indexes

ola taxify

In [149]:
#or better still
real.index[2], real.index[3]

('uber', 'taxify')

In [150]:
# Now to access the value via their customized index i.e ['ola', 'gokada', 'uber', 'taxify']
print('ola has:', real['ola'], '\n', 'taxify has:', real['taxify'])

ola has: 10
 taxify has: 90

In [151]:
#to also print conditionally;
real[real>30]

uber      60
taxify    90
dtype: int64

In [152]:
# to use boolean conditions
'ola' in real

True

In [153]:
'lyft' in real

False

Sometimes, you might want to convert from a pandas series to a dictionary type due to key and value usage. Or sometimes you might want to convert from series to dataframe to manipulate the data in spreadsheet format

In [154]:
real.to_dict()

{'ola': 10, 'gokada': 30, 'uber': 60, 'taxify': 90}

In [155]:
real.to_frame()

         0
ola     10
gokada  30
uber    60
taxify  90

You can create a new pandas series with a series as its argument and it would yield the same series. However if the customized index is more than the available, there will be a Nan [missing vlaue]

In [156]:
real = Series(real,  index = ['ola', 'gokada', 'uber', 'taxify', 'lyft'])
real

ola       10.0
gokada    30.0
uber      60.0
taxify    90.0
lyft       NaN
dtype: float64

In [157]:
pd.isnull(real) #You can either use this(isnull) to check for true values of Nan

ola       False
gokada    False
uber      False
taxify    False
lyft       True
dtype: bool

In [158]:
pd.isna(real) #or use this(isna)

ola       False
gokada    False
uber      False
taxify    False
lyft       True
dtype: bool

In [159]:
pd.notna(real) #to check for false values of  Nan

ola        True
gokada     True
uber       True
taxify     True
lyft      False
dtype: bool

In [160]:
pd.notnull(real) #alternative

ola        True
gokada     True
uber       True
taxify     True
lyft      False
dtype: bool

In [161]:
#addition of pandas series
real + real

ola        20.0
gokada     60.0
uber      120.0
taxify    180.0
lyft        NaN
dtype: float64

In the pandas series, you can assign nnames to object in the series(This is the same as naming index and colums).

In [162]:
real.name = 'Company revenue'
real.index.name = 'Name of company'
real

Name of company
ola       10.0
gokada    30.0
uber      60.0
taxify    90.0
lyft       NaN
Name: Company revenue, dtype: float64